/* ==========================================Admin Dashboard Rotate Function=================================== */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .rainbow1 {
    position: relative;
    z-index: 0;
    width: 220px;
    height: 220px;
    border: 10px solid salmon;
    border-radius: 100%;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
 
    
    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      /* left: 1%; */
      top: -75%;
      width: 100%;
      height: 250%;
      background-color: #399953;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      /* background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5); */
      background-image: linear-gradient(white, white), linear-gradient(salmon, salmon), linear-gradient(white, white), linear-gradient(salmon,salmon);
      animation: rotate 2s linear infinite;
    }
    
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      /* left: 13px; */
      top: 10px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      border-radius: 50px;
    }
  }

  .rainbow1 a
  {
    font-size: 15px;
    font-weight: 900;
    color: crimson;
  }

  .rainbowhover
  {
    /* position: absolute;
    margin-left: -218px; */
  }

  .rainbowhover:hover
  {
    /* margin-left: 0px; */
  }

  .rainbowdashboard
  {
    border: 1px solid salmon;
    background-color:salmon;
    border-end-end-radius: 100px;
    border-start-start-radius: 100px;
    width: 220px;
    height: 750px;
    margin-top: 0px; 
  }